{%load socialaccount %}<!--이것을 써줘야 socicalaccount기능을 사용할수있음.-->
{% providers_media_js %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>썸네일</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=xyrtmgxt80"></script>
</head>
<body>

        <h1>hello, world!</h1>

        <a href="/accounts/signup">회원가입</a> <br>
        
        {% if user.is_authenticated %}<!--로그인이 되어있다면 if문을 실행해라.-->
        <a href="/accounts/logout">로그아웃</a><br>
        {{user.username}}님이 로그인 중
        
        {% else %}<!--if문이 faulse이면, (로그인되어있지않으면)로그인하라고 띄워줘라.-->
        <a href="{% provider_login_url 'google' %}">구글 로그인</a><br>
        로그인 해야댐
        
        {%endif%}<!--템플릿 태그를 닫아준다.-->


<br><br>
    {% for blog in blog.all %}

    <img src="{{blog.image.url}}" width="500">
    <br>
    {{blog.text}}
    
<br><br>
    
    <img src="{{blog.image_thumbnail.url}}">

    {% endfor %}
</body>
</html>

